            .emphasis {
                font-size:48px;
                font-family:Vivaldi;
                color: rgb(255,150,150)
            }
            #caption {
                text-align: center;
            }
            
            #changePic {
                display:block;
                margin-left: auto;
                margin-right:auto;
            }
            
            img {
                display: block;
                margin-left:auto;
                margin-right:auto;
            }
            html {
                background: radial-gradient(#333,#000) no-repeat;
                font-size: 16pt;
                min-height: 100%;
                font-family: "Bradley Hand ITC";
                color:white;
                font-weight: bold
                }
            .reasons {
                border: 1px dashed white;
                height: 8em;
                width: 100%
            }
